.table{
    margin-top: 20px;
    overflow-y: scroll;
    height: 380px;
    color: #6a5d5d;
}

.table tr:nth-of-type(odd){
    background-color: whitesmoke;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td{
    padding: 0.5rem;
}